<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Angular.js Single File Application</title>
    <base href="/"/>
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
    <script src="/js/angular.min.js" charset="utf-8"></script>
    <script src="/js/angular-route.min.js" charset="utf-8"></script>
    <script src="/application.js" charset="utf-8"></script>
  </head>
  <body id="app" ng-app="app">
    <ng-view></ng-view>
  </body>
</html>
